{% extends 'base.html' %}

{% block breadcrumbs %}
{% if perms.myFirstProject.change_photo %}
<p ><a href="{% url 'edit_page' photo.slug%}">Редактировать</a></p>
{% endif %}
<!-- Теги -->
{% with photo.tags.all as tags %}
{% if tags %}
<ul class="tags-list">
    <li>Теги:</li>
    {% for t in tags %}
    <li><a href="{{t.get_absolute_url}}">{{t.tag}}</a></li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
{% endblock %}

{% block content %}

<h1>{{title}}</h1>
Количество очков: {{points}}
{% if IMG %}
<p><img src="{{photo.content.url}}"></p>
{% endif %}
{% endblock %}